@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.header-section{
    background-image: radial-gradient(circle at 50% 50%, #6f82e6 0, #3c78f2 50%, #0039b9 100%);
    height: 9vh;
    color: #fff;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    position: relative;
}
.hijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.empty{
    font-family: 'Prompt', sans-serif;
}
::placeholder{
    font-family: 'Prompt', sans-serif;
}
.imgEmpty{
    opacity: 0.6;
}

h1{
    font-size: 30px;
}
.parrafo{
    font-size: 14px;
    color: #9e9e9e;
}
.child-container{
    border: solid 1px rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px rgb(218, 216, 216);
}
